## General ignores
# temp files
*~
.*.marks
\#*\#
.~lock.*#
.DS_Store
/ENV
/.venv
/comlipy.egg-info
/dist
*.pyc
*.pyo
# IntelliJ IDEA and similar
/*.iml
/*/*.iml
/.idea
# as a convention ignore all directories starting with "_" in the repository root
/_*/*
